NEXT_PUBLIC_CMS_URL= # URL to the CMS
REVALIDATE_SECRET= # Secret the CMS can use to revalidate pages
PAYLOAD_BYPASS_RATE_LIMIT_KEY= # Secret to bypass CMS rate limits
PAYLOAD_API_KEY= # User API key, used to access non public data on the CMS, may be empty
IMAGINARY_URL=
IMAGINARY_SECRET=
