.progressOuterContainer {
  @apply sticky z-10 w-full h-[60px] flex items-end transition-all opacity-0;
}

.progressOuterContainerOpen {
  @apply opacity-100;
}

.progressOuterContainerClose {
  @apply opacity-0;
}

.progressInnerContainer {
  @apply w-[100%] flex transition-all;
}

.progressInnerContainerOpen {
  @apply h-[20px] opacity-100;
}

.progressInnerContainerClose {
  @apply h-[5px] opacity-50;
}

.numberLabelContainer {
  @apply h-full min-w-4 px-2 py-1 flex justify-center items-center overflow-hidden bg-skin-background dark:bg-skin-background-dark text-skin-text dark:text-skin-text-dark;
}

.numberLabelContainerFadeLeft {
  @apply bg-gradient-to-l from-[#a6adbb] from-[8%] to-transparent;
}

.numberLabelContainerFadeRight {
  @apply bg-gradient-to-r from-[#a6adbb] from-[8%] to-transparent;
}

.numberLabel {
  @apply transition-all w-[1.5rem] text-center;
}

.numberLabelOpen {
  @apply opacity-100;
}

.numberLabelClose {
  @apply opacity-0;
}

.progressBarContainer {
  @apply h-full grow transition-all;
  background-color: #a6adbb;
}

.progressSectionsContainer {
  @apply flex justify-between w-full h-full;
}

.progressSectionTooltip {
  @apply z-10 flex h-full cursor-pointer grow border-x tooltip tooltip-top tooltip-open transition-all duration-100 ease-in-out;
}

.progressSectionTooltip:hover {
  background-color: #5c6774;
}

.progressSectionTooltipActive {
  background-color: #2a323c;
}

.progressSectionTooltipSelected {
  background-color: #2a323c;
}
