@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*
      background-1: body background
      background-2: header background
      card: card background (unused in project pages)
      primary-1: Section headings, dark mode toggle
      secondary-1: links
    */
    --color-background-1: 253, 236, 236;
    --color-background-2: 239, 68, 68;
    --color-card: 255, 255, 255;
    --color-primary-1: 239, 68, 68;
    --color-secondary-1: 255, 136, 26;

    --color-dark-background-1: 22, 18, 18;
    --color-dark-background-2: 36, 30, 30;
    --color-dark-card: 50, 41, 41;
    --color-dark-primary-1: 207, 23, 23;
    --color-dark-secondary-1: 255, 85, 0;
  }

  .theme-ina {
    --color-background-1: 247, 243, 251;
    --color-background-2: 79, 68, 95;
    --color-card: 255, 255, 255;
    --color-primary-1: 160, 70, 152;
    --color-secondary-1: 242, 154, 48;

    --color-dark-background-1: 19, 18, 23;
    --color-dark-background-2: 49, 39, 60;
    --color-dark-card: 48, 44, 58;
    --color-dark-primary-1: 171, 110, 160;
    --color-dark-secondary-1: 230, 133, 15;
  }

  .theme-ina .markdown-body a {
    color:rgb(160, 70, 152);
  }

  .dark .theme-ina .markdown-body a {
    color:rgb(230, 133, 15);
  }

  .theme-calli {
    --color-background-1: 252, 233, 238;
    --color-background-2: 155, 75, 108;
    --color-card: 255, 255, 255;
    --color-primary-1: 112, 82, 122;
    --color-secondary-1: 178, 5, 59;

    --color-dark-background-1: 27, 9, 18;
    --color-dark-background-2: 68, 13, 38;
    --color-dark-card: 48, 10, 25;
    --color-dark-primary-1: 245, 163, 223;
    --color-dark-secondary-1: 219, 10, 70;
  }

  .theme-calli .markdown-body a {
    color:rgb(178, 5, 59);
  }

  .dark .theme-calli .markdown-body a {
    color:rgb(219, 10, 70);
  }

  .theme-gura {
    --color-background-1: 240, 249, 255;
    --color-background-2: 52, 116, 158;
    --color-card: 255, 255, 255;
    --color-primary-1: 43, 158, 166;
    --color-secondary-1: 186, 69, 73;

    --color-dark-background-1: 5, 11, 15;
    --color-dark-background-2: 15, 33, 46;
    --color-dark-card: 15, 33, 46;
    --color-dark-primary-1: 9, 138, 149;
    --color-dark-secondary-1: 217, 48, 54;
  }

  .theme-gura .markdown-body a {
    color:rgb(200, 79, 83);
  }

  .dark .theme-gura .markdown-body a {
    color:rgb(217, 48, 54);
  }

  .theme-kiara {
    --color-background-1: 255, 255, 255;
    --color-background-2: 204, 65, 30;
    --color-card: 255, 255, 255;
    --color-primary-1: 204, 122, 0;
    --color-secondary-1: 20, 148, 114;

    --color-dark-background-1: 15, 0, 0;
    --color-dark-background-2: 67, 19, 2;
    --color-dark-card: 40, 12, 3;
    --color-dark-primary-1: 230, 131, 25;
    --color-dark-secondary-1: 23, 211, 183;
  }

  .theme-kiara .markdown-body a {
    color:rgb(0, 128, 94);
  }

  .dark .theme-kiara .markdown-body a {
    color:rgb(23, 211, 183);
  }

  .theme-ame {
    --color-background-1: 255, 247, 235;
    --color-background-2: 164, 92, 70;
    --color-card: 255, 255, 255;
    --color-primary-1: 132, 67, 57;
    --color-secondary-1: 18, 130, 161;

    --color-dark-background-1: 21, 13, 10;
    --color-dark-background-2: 54, 33, 23;
    --color-dark-card: 54, 33, 23;
    --color-dark-primary-1: 251, 224, 181;
    --color-dark-secondary-1: 0, 146, 204;
  }

  .theme-ame .markdown-body a {
    color:rgb(18, 130, 161);
  }

  .dark .theme-ame .markdown-body a {
    color:rgb(0, 146, 204);
  }
}

@layer components {
  /* CSS for DarkModeToggle */
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 32px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ccc; */
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    box-shadow: 0 0 4px #999;
    -webkit-transition: .4s;
    transition: .4s;
  }

  /* input:checked + .slider {
    background-color: #2196F3;
  } */

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

.markdown-body {
  background-color: inherit !important;
}

.markdown-body code {
  color: #000;
}

.blur-background-target {
  animation-name: blur-background-target-animation;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes blur-background-target-animation {
  from { opacity: 0; }
  to { opacity: 1; }
}

